[submodule "engine/third-party/Crow"]
	path = engine/third-party/Crow
	url = https://github.com/CrowCpp/Crow.git
[submodule "engine/third-party/glog"]
	path = engine/third-party/glog
	url = https://github.com/google/glog.git
[submodule "engine/third-party/gflags"]
	path = engine/third-party/gflags
	url = https://github.com/gflags/gflags.git
[submodule "engine/third-party/nlohmann"]
	path = engine/third-party/nlohmann
	url = https://github.com/nlohmann/json.git
